flujos_n8n_y_promts/FlujoTelegramYSub-Flujos-N8N/Flujo_principal_telegram/tools/creador_de_productos.json
{
  "nodes": [
    {
      "parameters": {
        "tableId": "productos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nombre",
              "fieldValue": "={{ $json.producto_para_supabase.nombre }}"
            },
            {
              "fieldId": "slug",
              "fieldValue": "={{ $json.producto_para_supabase.slug }}"
            },
            {
              "fieldId": "descripcion",
              "fieldValue": "={{ $json.producto_para_supabase.descripcion }}"
            },
            {
              "fieldId": "ganchos",
              "fieldValue": "={{ $json.producto_para_supabase.ganchos }}"
            },
            {
              "fieldId": "precio",
              "fieldValue": "={{ (function(){ const p = $json.producto_para_supabase.precio; if (typeof p === 'number' && p > 0) return p; if (typeof p === 'string' && !isNaN(parseFloat(p))) return parseFloat(p); return 0; })() }}"
            },
            {
              "fieldId": "precio_original",
              "fieldValue": "={{ (function(){ const p = $json.producto_para_supabase.precio_original; if (typeof p === 'number' && p > 0) return p; if (typeof p === 'string' && !isNaN(parseFloat(p))) return parseFloat(p); return 0; })() }}"
            },
            {
              "fieldId": "descuento",
              "fieldValue": "={{ (function(){ const d = $json.producto_para_supabase.descuento; if (typeof d === 'number' && d >= 0) return d; if (typeof d === 'string' && !isNaN(parseFloat(d))) return parseFloat(d); return 0; })() }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ (function(){ const e = $json.producto_para_supabase.estado; const n = $json.producto_para_supabase.nombre || ''; const allowed = ['nuevo','usado','vendido','agotado','descontinuado']; const s = (typeof e==='string'? e.trim().toLowerCase(): ''); if (allowed.includes(s)) return s; if (typeof n==='string' && (n.toLowerCase().includes('usado') || n.toLowerCase().includes('usada'))) return 'usado'; return 'nuevo'; })() }}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.producto_para_supabase.categoria_id }}"
            },
            {
              "fieldId": "stock",
              "fieldValue": "={{ (function(){ const s = $json.producto_para_supabase.stock; if (typeof s === 'number' && s >= 0) return s; if (typeof s === 'string' && !isNaN(parseInt(s))) return parseInt(s); return 1; })() }}"
            },
            {
              "fieldId": "stock_minimo",
              "fieldValue": "={{ (function(){ const s = $json.producto_para_supabase.stock_minimo; if (typeof s === 'number' && s >= 0) return s; if (typeof s === 'string' && !isNaN(parseInt(s))) return parseInt(s); return 1; })() }}"
            },
            {
              "fieldId": "peso",
              "fieldValue": "={{ (function(){ const p = $json.producto_para_supabase.peso; if (typeof p === 'number' && p > 0) return p; if (typeof p === 'string' && !isNaN(parseFloat(p))) return parseFloat(p); return 1; })() }}"
            },
            {
              "fieldId": "dimensiones",
              "fieldValue": "={{ $json.producto_para_supabase.dimensiones }}"
            },
            {
              "fieldId": "marca",
              "fieldValue": "={{ $json.producto_para_supabase.marca }}"
            },
            {
              "fieldId": "modelo",
              "fieldValue": "={{ $json.producto_para_supabase.modelo }}"
            },
            {
              "fieldId": "color",
              "fieldValue": "={{ $json.producto_para_supabase.color }}"
            },
            {
              "fieldId": "talla",
              "fieldValue": "={{ $json.producto_para_supabase.talla }}"
            },
            {
              "fieldId": "material",
              "fieldValue": "={{ $json.producto_para_supabase.material }}"
            },
            {
              "fieldId": "garantia_meses",
              "fieldValue": "={{ (function(){ const g = $json.producto_para_supabase.garantia_meses; if (typeof g === 'number' && g > 0) return g; if (typeof g === 'string' && !isNaN(parseInt(g))) return parseInt(g); return null; })() }}"
            },
            {
              "fieldId": "origen_pais",
              "fieldValue": "={{ $json.producto_para_supabase.origen_pais }}"
            },
            {
              "fieldId": "palabras_clave",
              "fieldValue": "={{ $json.producto_para_supabase.palabras_clave }}"
            },
            {
              "fieldId": "meta_title",
              "fieldValue": "={{ $json.producto_para_supabase.meta_title }}"
            },
            {
              "fieldId": "meta_description",
              "fieldValue": "={{ $json.producto_para_supabase.meta_description }}"
            },
            {
              "fieldId": "destacado",
              "fieldValue": "={{ $json.producto_para_supabase.destacado }}"
            },
            {
              "fieldId": "activo",
              "fieldValue": "={{ $json.producto_para_supabase.activo }}"
            },
            {
              "fieldId": "creado_el",
              "fieldValue": "={{ $json.producto_para_supabase.creado_el }}"
            },
            {
              "fieldId": "creado_por",
              "fieldValue": "={{ $json.producto_para_supabase.creado_por }}"
            },
            {
              "fieldId": "actualizado_el",
              "fieldValue": "={{ $json.producto_para_supabase.actualizado_el }}"
            },
            {
              "fieldId": "landing_tipo",
              "fieldValue": "={{ $json.producto_para_supabase.landing_tipo }}"
            },
            {
              "fieldId": "numero_de_ventas",
              "fieldValue": "={{ (function(){ const n = $json.producto_para_supabase.numero_de_ventas; if (typeof n === 'number' && n >= 0) return n; if (typeof n === 'string' && !isNaN(parseInt(n))) return parseInt(n); return 0; })() }}"
            },
            {
              "fieldId": "calificacion_promedio",
              "fieldValue": "={{ (function(){ const c = $json.producto_para_supabase.calificacion_promedio; if (typeof c === 'number' && c >= 0) return c; if (typeof c === 'string' && !isNaN(parseFloat(c))) return parseFloat(c); return 0; })() }}"
            },
            {
              "fieldId": "total_resenas",
              "fieldValue": "={{ (function(){ const t = $json.producto_para_supabase.total_resenas; if (typeof t === 'number' && t >= 0) return t; if (typeof t === 'string' && !isNaN(parseInt(t))) return parseInt(t); return 0; })() }}"
            },
            {
              "fieldId": "banner_animado",
              "fieldValue": "={{ $json.producto_para_supabase.banner_animado }}"
            },
            {
              "fieldId": "puntos_dolor",
              "fieldValue": "={{ $json.producto_para_supabase.puntos_dolor }}"
            },
            {
              "fieldId": "testimonios",
              "fieldValue": "={{ $json.producto_para_supabase.testimonios }}"
            },
            {
              "fieldId": "faq",
              "fieldValue": "={{ $json.producto_para_supabase.faq }}"
            },
            {
              "fieldId": "garantias",
              "fieldValue": "={{ $json.producto_para_supabase.garantias }}"
            },
            {
              "fieldId": "cta_final",
              "fieldValue": "={{ $json.producto_para_supabase.cta_final }}"
            },
            {
              "fieldId": "promociones",
              "fieldValue": "={{ $json.producto_para_supabase.promociones }}"
            },
            {
              "fieldId": "caracteristicas_jsonb",
              "fieldValue": "={{ $json.producto_para_supabase.caracteristicas_jsonb }}"
            },
            {
              "fieldId": "ventajas_jsonb",
              "fieldValue": "={{ $json.producto_para_supabase.ventajas_jsonb }}"
            },
            {
              "fieldId": "beneficios_jsonb",
              "fieldValue": "={{ $json.producto_para_supabase.beneficios_jsonb }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1584,
        992
      ],
      "id": "11fe92c7-a7d3-4a81-b6f8-bac2d665af5f",
      "name": "Crear Producto en Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "W8gqsCw5s1YHm5SZ",
          "name": "Supabase Me LLEVO ESTO"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "De_que_trata_el_producto"
            },
            {
              "name": "precio"
            },
            {
              "name": "nombre_producto"
            },
            {
              "name": "caracteristicas"
            }
          ]
        }
      },
      "id": "02d1deb2-3cab-4bc3-b364-0cbfec39aad1",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -3616,
        1008
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86526842-fa69-4e18-b0c7-a1553c630af1",
              "name": "De_que_trata_el_producto",
              "value": "={{ $json.De_que_trata_el_producto }}",
              "type": "string"
            },
            {
              "id": "9e4ac607-a591-470a-bd71-3bafa75a6903",
              "name": "precio",
              "value": "={{ $json.precio }}",
              "type": "string"
            },
            {
              "id": "550e0411-bfa1-4fea-bd7a-064a96a87ea8",
              "name": "nombre_producto",
              "value": "={{ $json.nombre_producto }}",
              "type": "string"
            },
            {
              "id": "a2e0e311-3a17-4630-a70f-948dfe8c360d",
              "name": "caracteristicas",
              "value": "={{ $json.caracteristicas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3408,
        1008
      ],
      "id": "e628fb13-0ba3-40ce-b604-0bda06075d3e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// 🔄 PROCESADOR DE JSON DE PRODUCTO\nconsole.log('🔄 PROCESANDO PRODUCTO JSON');\n\nconst entrada = $input.first();\nconst producto = entrada.json.producto_objeto;\n\nconsole.log('📥 Producto recibido:', producto.nombre);\nconsole.log('📊 Campos disponibles:', Object.keys(producto));\n\n// 🔥 PROCESAR CATEGORÍA\nlet categoriaId = null;\nlet categoriaNombre = 'General';\n\nif (producto.categoria) {\n  if (typeof producto.categoria === 'object' && producto.categoria.id) {\n    categoriaId = producto.categoria.id;\n    categoriaNombre = producto.categoria.nombre;\n  } else if (typeof producto.categoria === 'string') {\n    // Buscar categoría por nombre\n    const categorias = entrada.json.categorias || [];\n    const catEncontrada = categorias.find(cat => \n      cat.nombre.toLowerCase().includes(producto.categoria.toLowerCase())\n    );\n    if (catEncontrada) {\n      categoriaId = catEncontrada.id;\n      categoriaNombre = catEncontrada.nombre;\n    }\n  }\n}\n\n// 🔥 PROCESAR IMÁGENES\nlet imagenesProcesadas = {\n  principal: null,\n  galeria: [],\n  imagen_caracteristicas: null\n};\n\nif (producto.imagenes) {\n  if (typeof producto.imagenes === 'object') {\n    // Formato objeto\n    imagenesProcesadas.principal = producto.imagenes.principal || null;\n    imagenesProcesadas.galeria = Array.isArray(producto.imagenes.galeria) \n      ? producto.imagenes.galeria.slice(0, 5) \n      : [];\n    imagenesProcesadas.imagen_caracteristicas = producto.imagenes.imagen_caracteristicas || null;\n  } else if (typeof producto.imagenes === 'string') {\n    // Formato string - usar como imagen principal\n    imagenesProcesadas.principal = producto.imagenes;\n  }\n}\n\n// 🔥 PROCESAR PRECIOS\nlet precio = 0;\nlet precioOriginal = 0;\nlet descuento = 0;\n\nif (producto.precio) {\n  if (typeof producto.precio === 'string') {\n    precio = parseInt(producto.precio.replace(/[^0-9]/g, '')) || 0;\n  } else if (typeof producto.precio === 'number') {\n    precio = producto.precio;\n  }\n}\n\nif (producto.precio_original) {\n  if (typeof producto.precio_original === 'string') {\n    precioOriginal = parseInt(producto.precio_original.replace(/[^0-9]/g, '')) || 0;\n  } else if (typeof producto.precio_original === 'number') {\n    precioOriginal = producto.precio_original;\n  }\n}\n\n// Calcular descuento si hay precio original\nif (precioOriginal > 0 && precio < precioOriginal) {\n  descuento = Math.round(((precioOriginal - precio) / precioOriginal) * 100);\n}\n\n// 🔥 PROCESAR ESPECIFICACIONES\nlet especificacionesProcesadas = {\n  marca: 'No especificada',\n  modelo: 'No especificado',\n  material: 'No especificado',\n  color: 'No especificado',\n  talla: 'No especificado',\n  peso: 'No especificado',\n  garantia_meses: 0,\n  origen_pais: 'No especificado',\n  dimensiones: 'No especificado'\n};\n\nif (producto.especificaciones) {\n  if (typeof producto.especificaciones === 'object') {\n    Object.assign(especificacionesProcesadas, producto.especificaciones);\n  } else if (typeof producto.especificaciones === 'string') {\n    // Parsear string JSON si es necesario\n    try {\n      const especs = JSON.parse(producto.especificaciones);\n      Object.assign(especificacionesProcesadas, especs);\n    } catch (e) {\n      console.log('⚠️ No se pudo parsear especificaciones string');\n    }\n  }\n}\n\n// 🔥 CREAR PRODUCTO PROCESADO\nconst productoProcesado = {\n  // Campos básicos\n  nombre: producto.nombre || 'Producto sin nombre',\n  slug: producto.nombre \n    ? producto.nombre.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '')\n    : 'producto-sin-nombre',\n  descripcion: producto.descripcion || 'Sin descripción',\n  ganchos: producto.ganchos || null,\n  precio: precio,\n  precio_original: precioOriginal,\n  descuento: descuento,\n  estado: 'activo',\n  categoria_id: categoriaId,\n  stock: producto.stock || 10,\n  \n  // Especificaciones\n  peso: especificacionesProcesadas.peso,\n  dimensiones: especificacionesProcesadas.dimensiones,\n  marca: especificacionesProcesadas.marca,\n  modelo: especificacionesProcesadas.modelo,\n  color: especificacionesProcesadas.color,\n  talla: especificacionesProcesadas.talla,\n  material: especificacionesProcesadas.material,\n  garantia_meses: especificacionesProcesadas.garantia_meses,\n  origen_pais: especificacionesProcesadas.origen_pais,\n  \n  // SEO y metadatos\n  palabras_clave: producto.palabras_clave || null,\n  meta_title: producto.meta_title || producto.nombre || 'Producto',\n  meta_description: producto.meta_description || producto.descripcion || 'Producto disponible',\n  \n  // Fechas\n  creado_el: new Date().toISOString(),\n  actualizado_el: new Date().toISOString(),\n  \n  // Landing\n  landing_tipo: 'temu',\n  numero_de_ventas: 0,\n  calificacion_promedio: 0,\n  total_resenas: 0,\n  \n  // 🔥 CAMPOS JSON COMPLETOS\n  banner_animado: producto.banner_animado || null,\n  puntos_dolor: producto.puntos_dolor || null,\n  caracteristicas: producto.caracteristicas || null,\n  testimonios: producto.testimonios || null,\n  faq: producto.faq || null,\n  garantias: producto.garantias || null,\n  cta_final: producto.cta_final || null,\n  promociones: producto.promociones || null,\n  \n  // 🔥 NUEVOS CAMPOS JSONB\n  ventajas: producto.ventajas || null,\n  beneficios: producto.beneficios || null\n};\n\nconsole.log('✅ PRODUCTO PROCESADO EXITOSAMENTE');\nconsole.log('📋 Nombre:', productoProcesado.nombre);\nconsole.log('💰 Precio:', productoProcesado.precio);\nconsole.log('🏷️ Categoría:', categoriaNombre);\nconsole.log('📊 Campos JSON:', {\n  caracteristicas: !!productoProcesado.caracteristicas,\n  ventajas: !!productoProcesado.ventajas,\n  beneficios: !!productoProcesado.beneficios\n});\n\nreturn {\n  json: {\n    producto_procesado: productoProcesado,\n    categoria_nombre: categoriaNombre,\n    imagenes_procesadas: imagenesProcesadas,\n    procesamiento_exitoso: true\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        992
      ],
      "id": "5a1612be-ea18-4ee4-ae6a-bd2c8b7f8f2f",
      "name": "Procesador JSON1"
    },
    {
      "parameters": {
        "jsCode": "// 🔄 PREPARAR JSON PARA SUPABASE - JSONB LIMPIO (SIN STRINGS)\nconsole.log('🔧 PREPARANDO JSON PARA SUPABASE');\n\nconst entrada = $input.first();\nconst producto = entrada.json.producto_procesado || entrada.json.producto || entrada.json;\n\nconsole.log('📥 Producto recibido:', producto?.nombre);\nconsole.log('📋 Campos disponibles:', producto ? Object.keys(producto) : []);\n\n// Utilidad: asegurar objeto JSON válido (para columnas jsonb)\nfunction aObjeto(val, fallback) {\n  try {\n    if (!val) return fallback;\n    if (typeof val === 'string') {\n      const parsed = JSON.parse(val);\n      return parsed && typeof parsed === 'object' ? parsed : fallback;\n    }\n    if (typeof val === 'object') return val;\n    return fallback;\n  } catch (e) {\n    return fallback;\n  }\n}\n\n// Estado seguro (evita violar constraint)\nfunction estadoSeguro(e) {\n  const s = (typeof e === 'string' ? e.trim().toLowerCase() : '');\n  return s && ['nuevo','activo','inactivo','en_revision','borrador'].includes(s) ? s : 'nuevo';\n}\n\n// Defaults\nconst defaultBannerAnimado = {\n  mensajes: ['🚚 Envío disponible','💳 Compra segura','🛡️ Garantía real'],\n  textColor: '#FFFFFF',\n  velocidad: 'normal',\n  backgroundColor: '#FF4444'\n};\n\nconst defaultPuntosDolor = {\n  titulo: '¿Te identificas con estos problemas?',\n  subtitulo: 'Cómo este producto ayuda en el día a día',\n  timeline: []\n};\n\nconst defaultTestimonios = {\n  titulo: 'Lo que dicen nuestros clientes',\n  subtitulo: 'Opiniones verificadas',\n  testimonios: [],\n  estadisticas: { recomiendan: 0, satisfaccion: 0, totalClientes: 0 }\n};\n\nconst defaultFaq = {\n  titulo: 'Preguntas Frecuentes',\n  subtitulo: 'Resolvemos tus dudas',\n  preguntas: []\n};\n\nconst defaultGarantias = {\n  titulo: 'Compra Segura',\n  subtitulo: 'Coberturas y soporte real',\n  items: []\n};\n\nconst defaultCtaFinal = {\n  titulo: 'Listo para tenerlo',\n  subtitulo: 'Aprovecha el precio actual',\n  beneficios: ['Compra segura','Soporte real','Entrega confiable'],\n  texto_boton: 'Comprar ahora',\n  precio_actual: typeof producto?.precio === 'number' ? producto.precio : 0,\n  precio_original: typeof producto?.precio_original === 'number' ? producto.precio_original : 0\n};\n\nconst defaultPromociones = {\n  titulo: 'Promociones Exclusivas por Cantidad',\n  subtitulo: 'Maximiza tu inversión con descuentos por volumen',\n  promociones: [\n    { id: 1, activa: true, descripcion: 'Descuento del 10% al comprar 2 unidades', cantidadMinima: 2, descuentoPorcentaje: 10 },\n    { id: 2, activa: true, descripcion: 'Descuento del 15% al comprar 3 unidades', cantidadMinima: 3, descuentoPorcentaje: 15 }\n  ]\n};\n\nconst defaultCaracteristicas = {\n  titulo: '¿Por qué miles de personas eligen nuestro producto?',\n  subtitulo: 'Descubre las características que lo hacen único y especial',\n  imagen: '',\n  detalles: [\n    { id: 1, icono: '⚙️', titulo: 'Material premium', descripcion: 'Resistente y duradero' },\n    { id: 2, icono: '🧩', titulo: 'Diseño inteligente', descripcion: 'Ergonomía y facilidad de uso' },\n    { id: 3, icono: '🔋', titulo: 'Eficiencia energética', descripcion: 'Optimiza consumo sin perder rendimiento' },\n    { id: 4, icono: '💡', titulo: 'Fácil de usar', descripcion: 'Práctico y conveniente' }\n  ],\n  cta: { texto: '¡QUIERO APROVECHAR ESTA OFERTA!', subtexto: '🔥 Oferta por tiempo limitado' }\n};\n\nconst defaultVentajas = {\n  titulo: '¿Por qué elegir este producto?',\n  subtitulo: 'Ventajas clave',\n  items: [\n    { id: 1, icono: '✅', titulo: 'Excelente relación calidad/precio', descripcion: 'Equilibrio ideal entre costo y prestaciones' },\n    { id: 2, icono: '⚡', titulo: 'Rendimiento confiable', descripcion: 'Funciona como se espera en uso diario' },\n    { id: 3, icono: '📈', titulo: 'Mejora inmediata', descripcion: 'Resultados visibles desde el primer uso' }\n  ]\n};\n\nconst defaultBeneficios = {\n  titulo: 'Beneficios clave',\n  subtitulo: 'Lo que obtienes al comprar',\n  items: [\n    { id: 1, icono: '🛡️', titulo: 'Garantía oficial', descripcion: 'Cobertura de satisfacción y calidad' },\n    { id: 2, icono: '🤝', titulo: 'Soporte dedicado', descripcion: 'Acompañamiento inicial y guía de uso' },\n    { id: 3, icono: '🚚', titulo: 'Envío seguro', descripcion: 'Seguimiento y entrega confiable' }\n  ]\n};\n\nfunction asegurarTresItemsBeneficios(obj) {\n  const base = aObjeto(obj, defaultBeneficios);\n  if (!Array.isArray(base.items)) base.items = defaultBeneficios.items;\n  if (base.items.length > 3) base.items = base.items.slice(0, 3);\n  if (base.items.length < 3) {\n    const faltantes = 3 - base.items.length;\n    base.items = base.items.concat(defaultBeneficios.items.slice(0, faltantes));\n  }\n  return base;\n}\n\nfunction asegurarCaracteristicasMinimas(obj) {\n  const base = aObjeto(obj, defaultCaracteristicas);\n  if (!Array.isArray(base.detalles)) base.detalles = defaultCaracteristicas.detalles;\n  // Mínimo 4 características\n  if (base.detalles.length < 4) {\n    const faltantes = 4 - base.detalles.length;\n    base.detalles = base.detalles.concat(defaultCaracteristicas.detalles.slice(0, faltantes));\n  }\n  // Limitar a 4 para consistencia\n  if (base.detalles.length > 4) base.detalles = base.detalles.slice(0, 4);\n  return base;\n}\n\n// Preparar todos los campos\nconst productoParaSupabase = {\n  // Campos normales\n  nombre: producto?.nombre,\n  slug: producto?.slug,\n  descripcion: producto?.descripcion,\n  ganchos: producto?.ganchos,\n  precio: producto?.precio,\n  precio_original: producto?.precio_original,\n  descuento: producto?.descuento,\n  estado: estadoSeguro(producto?.estado),\n  categoria_id: producto?.categoria_id,\n  stock: producto?.stock,\n  peso: producto?.peso,\n  dimensiones: producto?.dimensiones,\n  marca: producto?.marca,\n  modelo: producto?.modelo,\n  color: producto?.color,\n  talla: producto?.talla,\n  material: producto?.material,\n  garantia_meses: producto?.garantia_meses,\n  origen_pais: producto?.origen_pais,\n  palabras_clave: producto?.palabras_clave,\n  meta_title: producto?.meta_title,\n  meta_description: producto?.meta_description,\n  creado_el: producto?.creado_el,\n  actualizado_el: producto?.actualizado_el,\n  landing_tipo: producto?.landing_tipo || 'temu',\n  numero_de_ventas: producto?.numero_de_ventas || 0,\n  calificacion_promedio: producto?.calificacion_promedio || 0,\n  total_resenas: producto?.total_resenas || 0,\n\n  // JSONB como OBJETO (evita strings con barras)\n  banner_animado: aObjeto(producto?.banner_animado, defaultBannerAnimado),\n  puntos_dolor: aObjeto(producto?.puntos_dolor, defaultPuntosDolor),\n  testimonios: aObjeto(producto?.testimonios, defaultTestimonios),\n  faq: aObjeto(producto?.faq, defaultFaq),\n  garantias: aObjeto(producto?.garantias, defaultGarantias),\n  cta_final: aObjeto(producto?.cta_final, defaultCtaFinal),\n  promociones: aObjeto(producto?.promociones, defaultPromociones),\n\n  // Nuevos campos JSONB\n  caracteristicas_jsonb: asegurarCaracteristicasMinimas(producto?.caracteristicas_jsonb || producto?.caracteristicas),\n  ventajas_jsonb: aObjeto(producto?.ventajas_jsonb || producto?.ventajas, defaultVentajas),\n  beneficios_jsonb: asegurarTresItemsBeneficios(producto?.beneficios_jsonb || producto?.beneficios)\n};\n\nconsole.log('✅ Producto preparado para Supabase');\nconsole.log('   - estado:', productoParaSupabase.estado);\nconsole.log('   - caracteristicas_jsonb es objeto:', typeof productoParaSupabase.caracteristicas_jsonb === 'object');\nconsole.log('   - ventajas_jsonb es objeto:', typeof productoParaSupabase.ventajas_jsonb === 'object');\nconsole.log('   - beneficios_jsonb items:', productoParaSupabase.beneficios_jsonb?.items?.length);\nconsole.log('   - promociones es objeto:', typeof productoParaSupabase.promociones === 'object');\n\nreturn {\n  json: {\n    producto_para_supabase: productoParaSupabase,\n    conversion_exitosa: true\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        992
      ],
      "id": "da895f0b-8009-42bf-a780-4ef9e7c4f014",
      "name": "Preparar JSON para Supabase1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "096d96a0-e72e-4339-9068-c3cde014bf46",
              "leftValue": "={{ $json.producto_detectado }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2608,
        1008
      ],
      "id": "0326340e-e280-4b8b-8d07-b5ba802b4436",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// DETECTOR CORREGIDO - BUSCA JSON DENTRO DE RESPUESTAS CONVERSACIONALES\nconsole.log('🔍 ANALIZANDO RESPUESTA DEL AI AGENT');\n\nconst respuestaAgent = $input.first();\nlet respuestaTexto = '';\n\n// Extraer la respuesta del AI Agent\nif (respuestaAgent.json && respuestaAgent.json.output) {\n  respuestaTexto = String(respuestaAgent.json.output).trim();\n} else if (respuestaAgent.json && respuestaAgent.json.text) {\n  respuestaTexto = String(respuestaAgent.json.text).trim();\n} else if (respuestaAgent.json) {\n  respuestaTexto = JSON.stringify(respuestaAgent.json);\n} else {\n  respuestaTexto = String(respuestaAgent).trim();\n}\n\nconsole.log('📝 Respuesta completa:', respuestaTexto.substring(0, 200) + '...');\nconsole.log('📏 Longitud:', respuestaTexto.length);\n\n// DETECCIÓN ROBUSTA DE JSON DE PRODUCTO\nlet esProductoJSON = false;\nlet objetoProducto = null;\nlet razonDeteccion = '';\n\n// Solo procesar si tiene contenido sustancial\nif (respuestaTexto.length > 50) {\n  \n  // NUEVA LÓGICA: Buscar JSON dentro del texto (incluso si hay texto conversacional)\n  let jsonExtraido = null;\n  \n  // Método 1: Buscar JSON entre ```json y ```\n  const matchCodeBlock = respuestaTexto.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (matchCodeBlock && matchCodeBlock[1]) {\n    console.log('🔍 JSON encontrado en bloque de código');\n    try {\n      jsonExtraido = JSON.parse(matchCodeBlock[1].trim());\n    } catch (error) {\n      console.log('❌ Error parseando JSON del bloque:', error.message);\n    }\n  }\n  \n  // Método 2: Buscar JSON que empiece con { y termine con } (más robusto)\n  if (!jsonExtraido) {\n    const inicioJSON = respuestaTexto.indexOf('{');\n    const finJSON = respuestaTexto.lastIndexOf('}');\n    \n    if (inicioJSON !== -1 && finJSON !== -1 && finJSON > inicioJSON) {\n      const posibleJSON = respuestaTexto.substring(inicioJSON, finJSON + 1);\n      console.log('🔍 Posible JSON encontrado en posición', inicioJSON, 'a', finJSON);\n      \n      try {\n        jsonExtraido = JSON.parse(posibleJSON);\n        console.log('✅ JSON parseado exitosamente');\n      } catch (error) {\n        console.log('❌ Error parseando JSON extraído:', error.message);\n      }\n    }\n  }\n  \n  // Método 3: Verificar si toda la respuesta es JSON\n  if (!jsonExtraido && respuestaTexto.startsWith('{') && respuestaTexto.endsWith('}')) {\n    try {\n      jsonExtraido = JSON.parse(respuestaTexto);\n      console.log('✅ Respuesta completa es JSON válido');\n    } catch (error) {\n      console.log('❌ Error parseando respuesta completa como JSON:', error.message);\n    }\n  }\n  \n  // VALIDAR SI EL JSON EXTRAÍDO ES UN PRODUCTO\n  if (jsonExtraido) {\n    console.log('🔍 Validando JSON extraído...');\n    console.log('   - Tiene nombre:', !!jsonExtraido.nombre);\n    console.log('   - Tiene precio:', jsonExtraido.precio !== undefined);\n    console.log('   - Tiene descripcion:', !!jsonExtraido.descripcion);\n    \n    // Verificar campos mínimos de producto\n    if (jsonExtraido.nombre && \n        (jsonExtraido.precio !== undefined) && \n        jsonExtraido.descripcion) {\n      \n      esProductoJSON = true;\n      objetoProducto = jsonExtraido;\n      razonDeteccion = 'JSON de producto válido extraído de respuesta';\n      \n      console.log('✅ PRODUCTO DETECTADO:', jsonExtraido.nombre);\n      console.log('💰 Precio:', jsonExtraido.precio);\n      console.log('📋 Campos:', Object.keys(jsonExtraido).length);\n    } else {\n      razonDeteccion = 'JSON encontrado pero faltan campos de producto';\n      console.log('❌ JSON encontrado pero no es producto válido');\n    }\n  } else {\n    razonDeteccion = 'No se encontró JSON válido en la respuesta';\n    console.log('❌ No se pudo extraer JSON válido');\n  }\n} else {\n  razonDeteccion = 'Respuesta muy corta - conversacional';\n  console.log('📏 Respuesta muy corta');\n}\n\nconsole.log('🎯 RESULTADO FINAL:');\nconsole.log('   - Es producto:', esProductoJSON);\nconsole.log('   - Razón:', razonDeteccion);\n\n// IMPORTANTE: El IF espera producto_detectado como STRING \"true\"\nreturn {\n  json: {\n    // Datos originales\n    output: respuestaAgent.json?.output || respuestaTexto,\n    \n    // CAMPO CLAVE PARA EL IF (como string \"true\" o \"false\")\n    producto_detectado: esProductoJSON ? \"true\" : \"false\",\n    \n    // Campos adicionales para información\n    es_producto_json: esProductoJSON,\n    es_conversacional: !esProductoJSON,\n    tipo_detectado: esProductoJSON ? 'producto_json' : 'conversacional',\n    razon_deteccion: razonDeteccion,\n    \n    // Producto parseado (si existe)\n    producto_objeto: objetoProducto,\n    \n    // Info de debugging\n    longitud_respuesta: respuestaTexto.length,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2832,
        1008
      ],
      "id": "8882f282-67ef-4a64-b516-954fa1defdb3",
      "name": "Detector Tipo Respuesta1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=El usuario YA PIDIÓ CREAR el producto que se llama {{ $json.nombre_producto }}. Genera SOLO JSON siguiendo la estructura exacta de resultado_sql.json, sin texto adicional. El producto trata sobre {{ $json.De_que_trata_el_producto }}, el precio es {{ $json.precio }} y las caracteristicas son {{ $json.caracteristicas }}. Usa la herramienta consultar_categorias y coloca el id correcto en categoria_id.",
        "needsFallback": true,
        "options": {
          "systemMessage": "=Eres un asistente experto creando productos para e-commerce en MeLlevoEsto, que conversa primero y solo genera JSON cuando el usuario lo pide explícitamente.\n\n## MODO CONVERSACIONAL (predeterminado)\n- Habla en español, claro y profesional.\n- Pregunta lo necesario: nombre del producto, descripción básica, precio aproximado, público objetivo, uso principal, estado (nuevo/usado), garantías reales, y cualquier dato clave (marca, modelo, dimensiones, peso, material, etc.).\n- No muestres JSON hasta que el usuario diga “crear”, “generar”, “ya está listo” o similar.\n\n## REGLAS DE CONTENIDO (dinámico y no repetitivo)\n- Personaliza todo según el producto; evita plantillas repetidas o textos genéricos.\n- No prometas cosas irreales: adapta garantías y beneficios al tipo de producto y su valor.\n- Usa lenguaje persuasivo y coherente con el uso real del producto.\n- Mantén consistencia: si es usado/seminuevo, refleja estado, garantías y mensajes acordes.\n\n## PASO OBLIGATORIO ANTES DE GENERAR JSON\n1) Consulta categorías: usa la herramienta “consultar_categorias” y selecciona la categoría que mejor encaje.\n   - Usa el id exacto retornado en `categoria_id`.\n   - Si no hay coincidencia perfecta, usa la más genérica.\n\n## CUANDO EL USUARIO PIDA CREAR EL PRODUCTO: RESPONDE SOLO CON ESTE JSON\nUsa exactamente esta estructura y SOLO los campos reales de la BD (resultado_sql.json). Los precios deben ser números enteros (sin decimales). No incluyas campos que no existan.\n\n```json\n{\n  \"nombre\": \"Nombre atractivo y comercial\",\n  \"slug\": \"url-amigable-del-producto\",\n  \"descripcion\": {\n    \"titulo\": \"Título comercial claro (≤80 caracteres)\",\n    \"contenido\": \"Resumen persuasivo (120–200 palabras) alineado con el producto, sin repetir ganchos ni FAQ.\"\n  },\n  \"ganchos\": [\n    \"Gancho 1 potente\",\n    \"Gancho 2 específico\",\n    \"Gancho 3 orientado a beneficio\",\n    \"Gancho 4 diferenciador\",\n    \"Gancho 5 exclusivo\"\n  ],\n  \"precio\": 1000000,\n  \"precio_original\": 1200000,\n  \"descuento\": 17,\n  \"estado\": \"nuevo\",\n  \"categoria_id\": \"UUID-de-la-categoria\",\n  \"stock\": 10,\n  \"stock_minimo\": 2,\n  \"landing_tipo\": \"temu\",\n  \"destacado\": false,\n  \"activo\": true,\n  \"peso\": 1500,\n  \"dimensiones\": \"Alto x Ancho x Profundidad en cm\",\n  \"marca\": \"Marca\",\n  \"modelo\": \"Modelo\",\n  \"color\": \"Color\",\n  \"talla\": \"Talla\",\n  \"material\": \"Material\",\n  \"garantia_meses\": 12,\n  \"origen_pais\": \"País\",\n  \"palabras_clave\": [\n    \"palabra1\",\n    \"palabra2\",\n    \"palabra3\",\n    \"palabra4\",\n    \"palabra5\",\n    \"palabra6\",\n    \"palabra7\",\n    \"palabra8\",\n    \"palabra9\",\n    \"palabra10\"\n  ],\n  \"meta_title\": \"Título SEO (≤60 caracteres)\",\n  \"meta_description\": \"Descripción SEO persuasiva (≤160 caracteres)\",\n\n  \"banner_animado\": {\n    \"mensajes\": [\n      \"Mensaje 1 relevante y específico\",\n      \"Mensaje 2 con beneficio real\",\n      \"Mensaje 3 alineado al producto\"\n    ]\n  },\n\n  \"puntos_dolor\": {\n    \"titulo\": \"¿Te sientes identificado con estos problemas?\",\n    \"subtitulo\": \"Problemas que resuelve tu producto\",\n    \"timeline\": [\n      {\n        \"id\": 1,\n        \"icono\": \"💔\",\n        \"nombre\": \"Problema 1 concreto\",\n        \"posicion\": \"izquierda\",\n        \"solucion\": \"Cómo impacta el producto\",\n        \"textoBoton\": \"¿Te pasa esto?\",\n        \"descripcion\": \"Descripción detallada del dolor\"\n      },\n      {\n        \"id\": 2,\n        \"icono\": \"😤\",\n        \"nombre\": \"Problema 2 concreto\",\n        \"posicion\": \"derecha\",\n        \"solucion\": \"Cómo impacta el producto\",\n        \"textoBoton\": \"Conoce más\",\n        \"descripcion\": \"Descripción detallada del dolor\"\n      },\n      {\n        \"id\": 3,\n        \"icono\": \"✅\",\n        \"nombre\": \"Título específico de la solución 1\",\n        \"posicion\": \"izquierda\",\n        \"solucion\": \"Explicación de la solución\",\n        \"textoBoton\": \"Descubre cómo\",\n        \"descripcion\": \"Detalle de cómo lo resuelve\"\n      },\n      {\n        \"id\": 4,\n        \"icono\": \"🎯\",\n        \"nombre\": \"Título específico de la solución 2\",\n        \"posicion\": \"derecha\",\n        \"solucion\": \"Explicación de la solución\",\n        \"textoBoton\": \"Conoce la solución\",\n        \"descripcion\": \"Detalle de cómo lo resuelve\"\n      }\n    ]\n  },\n\n  \"testimonios\": {\n    \"titulo\": \"Título acorde a testimonios\",\n    \"subtitulo\": \"Subtítulo realista\",\n    \"testimonios\": [\n      {\n        \"id\": 1,\n        \"fecha\": \"Hace X días\",\n        \"likes\": 120,\n        \"nombre\": \"Nombre Cliente\",\n        \"rating\": 5,\n        \"ubicacion\": \"Ciudad, País\",\n        \"comentario\": \"Comentario realista\",\n        \"verificado\": true,\n        \"compraVerificada\": true\n      },\n      {\n        \"id\": 2,\n        \"fecha\": \"Hace X semanas\",\n        \"likes\": 80,\n        \"nombre\": \"Nombre Cliente\",\n        \"rating\": 4,\n        \"ubicacion\": \"Ciudad, País\",\n        \"comentario\": \"Comentario realista\",\n        \"verificado\": true,\n        \"compraVerificada\": true\n      },\n      {\n        \"id\": 3,\n        \"fecha\": \"Hace X días\",\n        \"likes\": 60,\n        \"nombre\": \"Nombre Cliente\",\n        \"rating\": 5,\n        \"ubicacion\": \"Ciudad, País\",\n        \"comentario\": \"Comentario realista\",\n        \"verificado\": true,\n        \"compraVerificada\": true\n      }\n    ],\n    \"estadisticas\": {\n      \"recomiendan\": 97,\n      \"satisfaccion\": 4.8,\n      \"totalClientes\": 1000\n    }\n  },\n\n  \"faq\": {\n    \"titulo\": \"Preguntas Frecuentes\",\n    \"subtitulo\": \"Resolvemos tus dudas\",\n    \"preguntas\": [\n      { \"id\": 1, \"pregunta\": \"Pregunta 1\", \"respuesta\": \"Respuesta 1\" },\n      { \"id\": 2, \"pregunta\": \"Pregunta 2\", \"respuesta\": \"Respuesta 2\" },\n      { \"id\": 3, \"pregunta\": \"Pregunta 3\", \"respuesta\": \"Respuesta 3\" },\n      { \"id\": 4, \"pregunta\": \"Pregunta 4\", \"respuesta\": \"Respuesta 4\" },\n      { \"id\": 5, \"pregunta\": \"Pregunta 5\", \"respuesta\": \"Respuesta 5\" }\n    ]\n  },\n\n  \"garantias\": {\n    \"titulo\": \"Garantía y Soporte\",\n    \"items\": [\n      { \"id\": 1, \"icono\": \"🛡️\", \"titulo\": \"Garantía realista\", \"descripcion\": \"Cobertura concreta\" },\n      { \"id\": 2, \"icono\": \"📞\", \"titulo\": \"Soporte post-venta\", \"descripcion\": \"Acompañamiento y asesoría\" }\n    ]\n  },\n\n  \"cta_final\": {\n    \"titulo\": \"Título CTA\", \n    \"subtitulo\": \"Subtítulo CTA persuasivo y específico\",\n    \"beneficios\": [\"Beneficio 1\", \"Beneficio 2\", \"Beneficio 3\"],\n    \"texto_boton\": \"Comprar ahora\",\n    \"precio_actual\": 1000000,\n    \"precio_original\": 1200000\n  },\n\n  \"numero_de_ventas\": 0,\n  \"calificacion_promedio\": 0,\n  \"total_resenas\": 0,\n\n  \"promociones\": {\n    \"titulo\": \"Promociones por Cantidad\",\n    \"subtitulo\": \"Descuentos por volumen\",\n    \"promociones\": [\n      { \"id\": 1, \"activa\": true, \"descripcion\": \"Promo 2 unidades\", \"cantidadMinima\": 2, \"descuentoPorcentaje\": 10 },\n      { \"id\": 2, \"activa\": true, \"descripcion\": \"Promo 3 unidades\", \"cantidadMinima\": 3, \"descuentoPorcentaje\": 15 }\n    ]\n  },\n\n  \"ventajas_jsonb\": {\n    \"titulo\": \"¿Por qué elegir este producto?\",\n    \"subtitulo\": \"Ventajas competitivas\",\n    \"items\": [\n      { \"id\": 1, \"icono\": \"💡\", \"titulo\": \"Ventaja 1\", \"descripcion\": \"Detalle de ventaja\" },\n      { \"id\": 2, \"icono\": \"⚙️\", \"titulo\": \"Ventaja 2\", \"descripcion\": \"Detalle de ventaja\" },\n      { \"id\": 3, \"icono\": \"✅\", \"titulo\": \"Ventaja 3\", \"descripcion\": \"Detalle de ventaja\" }\n    ]\n  },\n\n  \"beneficios_jsonb\": {\n    \"titulo\": \"Beneficios\",\n    \"subtitulo\": \"Todo lo que obtienes\",\n    \"items\": [\n      { \"id\": 1, \"icono\": \"🛡️\", \"titulo\": \"Beneficio 1\", \"descripcion\": \"Detalle del beneficio\" },\n      { \"id\": 2, \"icono\": \"🔧\", \"titulo\": \"Beneficio 2\", \"descripcion\": \"Detalle del beneficio\" },\n      { \"id\": 3, \"icono\": \"💰\", \"titulo\": \"Beneficio 3\", \"descripcion\": \"Detalle del beneficio\" }\n    ]\n  },\n\n  \"caracteristicas_jsonb\": {\n    \"titulo\": \"Características Destacadas\",\n    \"subtitulo\": \"Por qué este producto es tu mejor elección\",\n    \"detalles\": [\n      { \"id\": 1, \"icono\": \"⚡\", \"titulo\": \"Característica 1\", \"descripcion\": \"Detalle concreto\" },\n      { \"id\": 2, \"icono\": \"🔋\", \"titulo\": \"Característica 2\", \"descripcion\": \"Detalle concreto\" },\n      { \"id\": 3, \"icono\": \"🛡️\", \"titulo\": \"Característica 3\", \"descripcion\": \"Detalle concreto\" },\n      { \"id\": 4, \"icono\": \"💡\", \"titulo\": \"Característica 4\", \"descripcion\": \"Detalle concreto\" }\n    ]\n  }\n}\n```\n\n## VALIDACIONES ANTES DE RESPONDER\n- `ganchos` tiene exactamente 5 ítems.\n- `palabras_clave` tiene exactamente 10 ítems.\n- `faq.preguntas` tiene al menos 5 ítems con `id` incremental.\n- `testimonios.testimonios` tiene mínimo 3 ítems completos.\n- `categoria_id` corresponde al id obtenido en la consulta de categorías.\n- `precio` y `precio_original` son enteros; `cta_final.precio_actual` = `precio`, `cta_final.precio_original` = `precio_original`.\n- NO uses columnas obsoletas: evita `caracteristicas`, `ventajas`, `beneficios` (usar sus versiones `_jsonb`).\n\n## ADAPTACIONES INTELIGENTES\n- Vehículos (motos/autos/camiones): evita prometer envío gratis o devoluciones; usa garantías mecánicas razonables (3–6 meses); testimonios enfocados en la experiencia de compra y servicio.\n- Alto valor (> 2 millones): descuentos realistas (≤30%), pocas unidades en stock, enfoque en calidad y soporte postventa.\n- Usados/Seminuevos: transparencia en estado, garantías limitadas, mensajes sobre inspección y certificación.\n\nSi falta información, haz preguntas concretas antes de crear el JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3136,
        1008
      ],
      "id": "3d7285f2-510d-4686-b323-95d4da9d571c",
      "name": "AI Agent Creador Productos1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "categorias",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2896,
        1376
      ],
      "id": "4c015230-7164-4de6-87de-e3ba4da8b21f",
      "name": "consultar_categorias1",
      "credentials": {
        "supabaseApi": {
          "id": "W8gqsCw5s1YHm5SZ",
          "name": "Supabase Me LLEVO ESTO"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3360,
        1328
      ],
      "id": "9e62a6ff-92cf-4162-a00a-5d6119629b91",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "afEdUlo465aPlyDq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent Creador Productos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesador JSON1": {
      "main": [
        [
          {
            "node": "Preparar JSON para Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar JSON para Supabase1": {
      "main": [
        [
          {
            "node": "Crear Producto en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Procesador JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detector Tipo Respuesta1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Creador Productos1": {
      "main": [
        [
          {
            "node": "Detector Tipo Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_categorias1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Creador Productos1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Creador Productos1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8000b702e0a3d9ac6d70099a2751603316de4028cd14af0949776a26efecb219"
  }
}