Nano Banana WORKFLOW.json
{
  "name": "Nano Banana WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -912,
        304
      ],
      "id": "689127c9-0e4b-4702-aa6f-9343f3282e4e",
      "name": "Disparador de Telegram",
      "webhookId": "bea4843e-25e4-4d89-b3f6-4237798e9b42",
      "credentials": {
        "telegramApi": {
          "id": "Tsll6EFLsILnT8d3",
          "name": "Chat NANO BOT"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7211e46-0f49-46a0-9cb7-e83fed150efd",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Foto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "85edf561-8f5e-4215-9e19-78ff0392068e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -720,
        304
      ],
      "id": "ffcc63ff-fec0-4687-bf41-8f71db66c9d2",
      "name": "Conmutador"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[1].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -608,
        80
      ],
      "id": "050e7a8e-6633-4a6f-b266-e59f57253125",
      "name": "Descargar Archivo",
      "webhookId": "fb18f65f-c1cf-4473-b59d-d59d6b96e9ea",
      "credentials": {
        "telegramApi": {
          "id": "Tsll6EFLsILnT8d3",
          "name": "Chat NANO BOT"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyy-MM-dd') }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1pIVgWL1V2qYvLS6ElbOitip4W6YYEhTr",
          "mode": "list",
          "cachedResultName": "Imagenes N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1pIVgWL1V2qYvLS6ElbOitip4W6YYEhTr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        80
      ],
      "id": "749cc9ca-af88-4ec8-af6e-3a843add1342",
      "name": "Subir archivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JYFM1ZlxpvZ3MVli",
          "name": "Drive Jesus Gonzalez"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53de4eb0-6684-48f5-a5b5-2b3bedaff817",
              "name": "message.text",
              "value": "=El usuario acaba de enviar una imagen. Aquí está el ID de ese archivo en Google Drive: {{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        80
      ],
      "id": "94b5f698-5254-4b5a-9254-bd09e443693a",
      "name": "Establecer Texto"
    },
    {
      "parameters": {
        "chatId": "={{ $('Disparador de Telegram').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        320
      ],
      "id": "701d32c6-c173-49da-a37e-a2639899c7f9",
      "name": "Responder",
      "webhookId": "f9df111e-1004-4aff-b458-779444006ed8",
      "credentials": {
        "telegramApi": {
          "id": "Tsll6EFLsILnT8d3",
          "name": "Chat NANO BOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Archivo_a_Actualizar', ``, 'string') }}"
        },
        "newUpdatedFileName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nuevo_Nombre_Archivo_Actualizado', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        144,
        640
      ],
      "id": "e8a112c8-70dc-472f-9190-21b3f76ab1f7",
      "name": "Cambiar Nombre",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JYFM1ZlxpvZ3MVli",
          "name": "Drive Jesus Gonzalez"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1pIVgWL1V2qYvLS6ElbOitip4W6YYEhTr",
            "mode": "list",
            "cachedResultName": "Imagenes N8N",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1pIVgWL1V2qYvLS6ElbOitip4W6YYEhTr"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        288,
        640
      ],
      "id": "65a44531-15b0-4c46-8db4-e28f3580e863",
      "name": "Buscar Archivos Originales",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JYFM1ZlxpvZ3MVli",
          "name": "Drive Jesus Gonzalez"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Disparador de Telegram').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -256,
        480
      ],
      "id": "e8c12b37-2c87-45cd-913d-9a7122ab1a52",
      "name": "Memoria Simple"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -448,
        480
      ],
      "id": "6ecc6fa7-b04f-42c6-8e33-3749f94b8ac5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "afEdUlo465aPlyDq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Llama a esta herramienta para editar una imagen. Debes pasar un nuevo título de imagen, un prompt de imagen muy detallado/profesional y el ID de la imagen.",
        "workflowId": {
          "__rl": true,
          "value": "jQoi0yBKSPgGJVdx",
          "mode": "list",
          "cachedResultName": "editar_imagen"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "imageTitle": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', `El título de la nueva imagen`, 'string') }}",
            "imagePrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', `El prompt de generación de imagen. Debe ser detallado y optimizado para la generación de imágenes por IA. Da la mayor cantidad de detalles y pregunta en que foormato se quiere la informacion, el idioma y todo para que funcione perfectamente por favor! Este prompt no debe contener \\\\n ni \"\".`, 'string') }}",
            "imageID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageID', `El ID de la imagen a editar`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "imageTitle",
              "displayName": "imageTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "imagePrompt",
              "displayName": "imagePrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "imageID",
              "displayName": "imageID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -32,
        704
      ],
      "id": "28ad0b6d-71d0-4f3c-a416-0fa27bb9066a",
      "name": "editar_imagen"
    },
    {
      "parameters": {
        "description": "Llama a esta herramienta para combinar dos imágenes. Debes pasar un prompt de generación de imagen, los IDs de ambas imágenes y un título para esta nueva imagen.",
        "workflowId": {
          "__rl": true,
          "value": "Mwp4SQDxcbDxijRs",
          "mode": "list",
          "cachedResultName": "combinar_imagenes"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', `El prompt de generación de imagen. Debe estar optimizado para la generación de imágenes por IA y solo debe hacer referencia a las imágenes como imagen1 e imagen2. Este prompt no debe contener \\\\n ni \"\".`, 'string') }}",
            "image1": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagen1', `El ID de la imagen 1`, 'string') }}",
            "image2": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagen2', `El ID de la imagen 2`, 'string') }}",
            "imageTitle": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tituloImagen', `El título para la nueva imagen`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "image1",
              "displayName": "image1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "image2",
              "displayName": "image2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "imageTitle",
              "displayName": "imageTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -208,
        720
      ],
      "id": "2c322b3e-ef95-48ce-806f-d6801a017b1e",
      "name": "combinar_imagenes"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1pIVgWL1V2qYvLS6ElbOitip4W6YYEhTr",
            "mode": "list",
            "cachedResultName": "Imagenes N8N",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1pIVgWL1V2qYvLS6ElbOitip4W6YYEhTr"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        432,
        640
      ],
      "id": "1cc45d4b-62ce-4a69-8856-dcfb0cbeef90",
      "name": "Buscar Imagenes de IA",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JYFM1ZlxpvZ3MVli",
          "name": "Drive Jesus Gonzalez"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -640,
        480
      ],
      "id": "6992834c-cfaa-4ff3-ba01-d15aa48dca90",
      "name": "GPT 5 mini",
      "credentials": {
        "openAiApi": {
          "id": "BF6TLMzAguxXUoJp",
          "name": "Api Chat GPT"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# Resumen\nEres un agente de asistencia personal. Tu trabajo es usar las herramientas a las que tienes acceso para ayudar al usuario con su solicitud.\n\n## Herramientas\nCambiar Nombre - Usa esta herramienta para cambiar el nombre de una foto. Debes tener el ID del archivo para cambiar el nombre.\nCombinar Imágenes - Usa esta herramienta para combinar dos imágenes.\nBuscar Archivos Originales - Usa esta herramienta para buscar archivos de imagen que el usuario haya subido previamente.\nBuscar Imágenes de IA - Usa esta herramienta para buscar imágenes generadas por IA que hayas ayudado al usuario a crear.\nEditar Imagen - Usa esta herramienta para editar una imagen.\n\n## Instrucciones\n1) Si el usuario envía una foto, pregúntale cómo quiere nombrar esa foto diciendo \"¿Cómo te gustaría que nombre esa foto en tu Google Drive?\". Luego, una vez que responda, cambia el nombre usando tu herramienta Cambiar Nombre.\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -160,
        320
      ],
      "id": "df7363bd-2124-4730-966e-67a993c997d3",
      "name": "Agente Google"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "77efe00a-2fa8-4896-a373-80ff82135c9b",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        320
      ],
      "id": "f9dcc604-1f79-458f-89de-08d044716230",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Conmutador": {
      "main": [
        [
          {
            "node": "Descargar Archivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Archivo": {
      "main": [
        [
          {
            "node": "Subir archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir archivo": {
      "main": [
        [
          {
            "node": "Establecer Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Establecer Texto": {
      "main": [
        [
          {
            "node": "Agente Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cambiar Nombre": {
      "ai_tool": [
        [
          {
            "node": "Agente Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Archivos Originales": {
      "ai_tool": [
        [
          {
            "node": "Agente Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memoria Simple": {
      "ai_memory": [
        [
          {
            "node": "Agente Google",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Disparador de Telegram": {
      "main": [
        [
          {
            "node": "Conmutador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Google",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "editar_imagen": {
      "ai_tool": [
        [
          {
            "node": "Agente Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "combinar_imagenes": {
      "ai_tool": [
        [
          {
            "node": "Agente Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Imagenes de IA": {
      "ai_tool": [
        [
          {
            "node": "Agente Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT 5 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Google",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Google": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "efe2b498-bc55-4ca5-add7-bbf831a77622",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8000b702e0a3d9ac6d70099a2751603316de4028cd14af0949776a26efecb219"
  },
  "id": "T5DjqtRwvBkIDswC",
  "tags": []
}